.btn {
  font-weight: bold;
  background-color: rgb(38, 166, 154);
  color: white;
  border-radius: 2px;
  padding: 0 16px;
  margin-top: 13px;
  height: 36px;
  width: 100%;

  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  word-wrap: break-word;
  min-width: 180px;
}

.genre-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
}