<mat-grid-list cols="5" rowHeight="1.5:1" gutterSize="0px">
    <mat-grid-tile class="purchased-book">
        <img src="{{book.cover}}?height=250&width=200" alt="Book cover" class="book-image">
    </mat-grid-tile>
    <mat-grid-tile class="purchased-book purchase-info">
        <a class="book-title">{{book.name}}</a>
        <p class="price">{{book.price | currency: 'USD' : 'symbol' : '1.0-0'}}</p>
        <p i18n>Buyer: <a>{{order.buyer.firstName}} {{order.buyer.lastName}}</a></p>
    </mat-grid-tile>
    <mat-grid-tile class="purchased-book purchase-info">
        <p>{{order.date | date}}</p>
    </mat-grid-tile>
    <mat-grid-tile class="purchased-book purchase-info">
        @if (order.status == OrderStatus.COMPLETED){
            <p i18n>Completed</p>
            <button i18n mat-flat-button class="receipt-button">VIEW RECEIPT</button>
        }
        @if (order.status == OrderStatus.WAITING_APPROVAL){
            <p i18n>Pending payment approval</p>
            <button i18n mat-flat-button class="receipt-button">VIEW RECEIPT</button>
        }
        @if (order.status == OrderStatus.REJECTED_PAYMENT){
            <p i18n>Waiting for buyer to resend payment</p>
        }
    </mat-grid-tile>
    <mat-grid-tile class="purchased-book purchase-info">
        @if (order.status == OrderStatus.COMPLETED){
            <p i18n>Done</p>
        }
        @if (order.status == OrderStatus.WAITING_APPROVAL){
            <button i18n mat-flat-button class="decline-button" (click)="openDeclineDialog()">DECLINE</button>
            <button i18n mat-flat-button class="accept-button" (click)="openAcceptDialog()">ACCEPT</button>
        }
    </mat-grid-tile>
</mat-grid-list>