<div class="search-page">
	<div class="left-side">
		@if (!(pagination$ | async)){
			<div class="empty-error">
				<h4>{{ 'NO_BOOKS_FOUND' | translate }}</h4>
				<app-action-button (click)="resetFilters()">
                    {{ 'RESET_FILTERS' | translate }}
				</app-action-button>
			</div>
		}
		@if (books$ | async; as books){
			<mat-grid-list cols="2" rowHeight="290px" gutterSize="5px">
				@for(book of ((books)! | paginate: {id: 'bookSearch', itemsPerPage: pageSize, currentPage: currentPage, totalItems: (pagination$ | async)?.pagination?.totalCount!}); track book.id){
					<mat-grid-tile>
						<app-book-card [book]="book" class="searched-book" compact></app-book-card>
					</mat-grid-tile>
				}
			</mat-grid-list>
		}
	</div>
	<div class="right-side">
		<div class="form-container">
			<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()">
				<mat-form-field appearance="outline" style="width: 100%;">
					<mat-label>{{ 'TITLE' | translate }}</mat-label>
					<input matInput formControlName="title">
				</mat-form-field>
				
				<mat-form-field appearance="outline" class="input">
					<mat-select formControlName="orderBy">
						@for (orderby of Object.values(BookSearchOrderBy); track orderby){
							@if (orderby != BookSearchOrderBy.BEST_SELLERS && orderby != BookSearchOrderBy.NEW_DEALS){
								<mat-option [value]="orderby">{{ orderby | translate }}</mat-option>
							}
						}
					</mat-select>
					<mat-label>{{ 'ORDER_BY' | translate }}</mat-label>
				</mat-form-field>
				
				<mat-form-field appearance="outline" class="input">
					<mat-select formControlName="genre">
						<mat-option [value]="null">{{ 'ANY' | translate }}</mat-option>
						@for (genre of Object.values(BookGenre); track genre){
							<mat-option [value]="genre">{{ genre | translate }}</mat-option>
						}
					</mat-select>
					<mat-label>{{ 'GENRE' | translate }}</mat-label>
				</mat-form-field>
				
				<div class="form-group">
					<mat-form-field appearance="outline">
						<mat-label>{{ 'MIN_PAGES' | translate }}</mat-label>
						<input matInput type="number" min="0" max="1000000" formControlName="minPages">
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>{{ 'MAX_PAGES' | translate }}</mat-label>
						<input matInput type="number" min="0" max="1000000" formControlName="maxPages">
					</mat-form-field>
				</div>
				
				<div class="form-group">
					<mat-form-field appearance="outline">
						<mat-label>{{ 'MIN_PRICE' | translate }}</mat-label>
						<input matInput type="number" step="100" min="0" max="1000000" formControlName="minPrice">
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>{{ 'MAX_PRICE' | translate }}</mat-label>
						<input matInput type="number" step="100" min="0" max="1000000" formControlName="maxPrice">
					</mat-form-field>
				</div>
				
				<div class="form-group">
					<mat-form-field appearance="outline">
						<mat-label>{{ 'MIN_AGE' | translate }}</mat-label>
						<input matInput type="number" min="0" max="99" formControlName="minAge">
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>{{ 'MAX_AGE' | translate }}</mat-label>
						<input matInput type="number" min="0" max="99" formControlName="maxAge">
					</mat-form-field>
				</div>
				
				<div class="btn-zone">
					<app-action-button submit [disabled]="!this.form.valid">
                        {{ 'APPLY' | translate }}
					</app-action-button>
				</div>
			</form>
		</div>
	</div>
</div>

@if ((pagination$ | async)?.pagination?.pageCount! > 1){
	<app-paginator id="bookSearch" (pageChange)="onPageChange($event)"/>
}

{{pagination$ | async | json}}