<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()">
	<mat-grid-list cols="2" rowHeight="5:1" gutterSize="10px">
		<mat-grid-tile>
			<mat-form-field class="full-width">
				<mat-label>{{ 'TITLE' | translate }}</mat-label>
				<input matInput formControlName="title">
			</mat-form-field>
		</mat-grid-tile>
		<mat-grid-tile>
			<mat-form-field class="full-width">
				<mat-label>{{ 'ORDER_BY' | translate }}</mat-label>
				<mat-select (selectionChange)="onSubmit()" formControlName="orderBy">
					@for (status of Object.values(SearchOrderBy); track status){
						<mat-option [value]="status"> {{ status | translate }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
		</mat-grid-tile>
	</mat-grid-list>
</form>
@if (books$ | async; as	books){
	<mat-grid-list cols="4" gutterSize="10px" rowHeight="375px" class="book-grid">
		@for (book of (books | paginate: {id: 'publications', itemsPerPage: pageSize, currentPage: currentPage, totalItems: (pagination$ | async)?.pagination?.totalCount!}); track book.id){
			<mat-grid-tile>
				<app-small-book-card [book]="book" class="publication" [showWriter]="false" [showDate]="true"></app-small-book-card>
			</mat-grid-tile>
		}
	</mat-grid-list>
	
	@if ((pagination$ | async)?.pagination?.pageCount! > 1){
		<app-paginator id="publications" (pageChange)="onPageChange($event)"/>
	}
	
	@if (books.length === 0){
		<h4 class="center-text">{{ 'NO_BOOKS_FOUND' | translate }}</h4>
	}
}