<div class="purchase-row">
	<div class="cell cover-cell" routerLink="/book/{{book().book.id}}">
		<img ngSrc="{{book().book.cover}}?width=100&height=150" height="150" width="100" [alt]="book().book.title">
	</div>
	
	<div class="cell info-cell">
		<h3><a routerLink="/book/{{book().book.id}}">{{book().book.title}}</a></h3>
		<p class="price">{{ book().book.price | currency: 'USD' : 'symbol' : '1.0-0' }}</p>
	</div>
	
	<div class="cell status-cell">
		<p class="order-count">{{book().analytics.orderCount}}</p>
		@switch (book().book.salesCategory){
			@case (SalesCategory.DEFAULT){
				<p class="cat-info">{{ 'SALES_FOR_POPULAR' | translate: { sales: 5 - book().analytics.orderCount } }}</p>
			}
			@case (SalesCategory.POPULAR){
				<p class="silver">{{ 'POPULAR' | translate }}</p>
                <p class="cat-info">{{ 'SALES_FOR_BEST_SELLER' | translate: { sales: 10 - book().analytics.orderCount } }}</p>
			}
			@case (SalesCategory.BEST_SELLER){
				<p class="gold">{{ 'BEST_SELLER' | translate }}</p>
			}
		}
	</div>
	
	<div class="cell status-cell">
		{{book().analytics.salesTotal | currency: 'USD' : 'symbol' : '1.0-0'}}
	</div>
</div>