<div class="profile-header center">
    <img class="profile-img" ngSrc="{{user().profilePicture!}}" width="120" height="120" priority alt="Profile picture" />
    <h2 class="writer-name">{{user().firstName}} {{user().lastName}}</h2>
    <p class="writer-info">{{user().email}}</p>
	
	@if (user().roles?.includes(UserRoles.WRITER)) {
		<p class="writer-info">
            {{ 'CBU' | translate }}: {{user().cbu}}
		</p>
	}
	
	<div class="center-label">
	@switch (user().writerCategory){
		@case (WriterCategory.BRONZE){
			<div class="sales-category bronze">{{ 'BRONZE' | translate }}</div>
		}
		@case (WriterCategory.SILVER){
			<div class="sales-category silver">{{ 'SILVER' | translate }}</div>
		}
		@case (WriterCategory.GOLD){
			<div class="sales-category gold">{{ 'GOLD' | translate }}</div>
		}
	}
	</div>
	
	@if (user().description){
		<div class="center-label">
			<p class="description">
				{{user().description}}
			</p>
		</div>
	}
	
	@if (ownsProfile()){
		<div class="edit-profile">
			<app-nav-button link="/edit-profile">
                {{ 'EDIT_PROFILE' | translate }}
			</app-nav-button>
			<app-nav-button link="/change-password">
                {{ 'CHANGE_PASSWORD' | translate }}
			</app-nav-button>
		</div>
	}
	
</div>