.profile-header {
  text-align: center;
  padding: 20px 0;

  .profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }

  .writer-name {
    margin: 10px 0;
    color: #437C90;
    font-size: 24px;
  }

  .writer-info {
    color: #666;
    margin: 5px 0;
  }

  .sales-category {

    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-transform: uppercase;

    &.bronze {
      background-color: #CD7F32;
      color: white;
    }

    &.silver {
      background-color: silver;
    }

    &.gold {
      background-color: gold;
    }
  }

  .edit-profile {
    margin-top: 5px;
  }
}

.description{
  width: 50%;
  text-align: center;
}

.center-label {
  width: 100%;
  display: flex;
  justify-content: center;
}