.card-info{
    width: 100%;
}
.card {
    flex-basis: calc(50% - 10px);
    display: flex;
    height: 250px;
}

.card-image {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
}


.card-content,
.card-reveal {
    flex: 1;
}

.info {
    color: black;
}