

.explore_back {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("/images/booksbackground.png");
    background-size: cover; /* Ajusta el tamaño de la imagen al tamaño del div */
    background-position: center; /* Centra la imagen en el div */
    /* Agrega cualquier otro estilo necesario para el div explore_back */
}

.container{
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
}

.row{
    width: 100%;
}

.home-image {
    max-height: 80px;
}

.card-panel{
    color: #F7C548;
    background-color: #F7C548 !important;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.explore_books {
    color: white;
}

.steps {
    color: white;
}

.books .container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Alinea las tarjetas en filas con espacios entre ellas */
}

.card {
    flex-basis: calc(50% - 10px); /* El ancho de cada tarjeta es el 50% del contenedor menos el margen */
    display: flex;
}

.card-image {
    width: 100%; /* La imagen ocupará todo el ancho de su contenedor */
    max-width: 200px; /* Ancho máximo para la imagen */
}


.card-content,
.card-reveal {
    flex: 1;
}
