
.question-form {
    margin-bottom: 20px;
}

.qa-list {
    margin-top: 20px;
}

.qa-item {
    margin-bottom: 15px;
}

.question {
    font-weight: bold;
    color: #333333;
}

.answer {
    margin-top: 0;
    display: flex;
    align-items: center;
    color: #555555;
}

.date{
    color: #B0B0B0;
}


.answer-form{
    width:100%;
}

.answer-input{
    margin-top: 0;
}