
.question-form {
    margin-bottom: 20px;
}

.qa-list {
    margin-top: 20px;
}

.qa-item {
    margin-bottom: 15px;
}

.question {
    font-weight: bold;
    color: #333333;
}

.answer {
    margin-top: 0;
    display: flex;
    align-items: center;
    color: #555555;
}

.date{
    color: #B0B0B0;
}


.answer-form{
    width:100%;
}

.answer-input{
    margin-top: 0;
}

.page-title {
    color: #437C90 !important;
}

.question-container{
    width: 90% !important;
}

.card-image {
    height: 150px;
}
.book_cover {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.questioned-book{
    margin-top: 0;
    margin-bottom: 0 !important;
    height: 150px;
}

.collection-item{
    padding: 0 !important;
    overflow: auto;
}

.question-info {
    height: 100%;
    align-content: center;
}

.book-title{
    font-weight: bold;
}

.footer-aligner{
    display: flex;
    justify-content: end;
}

.centerer{
    width: 100%;
    text-align: center;
}