
.review-pfp{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 10px;
    object-fit: cover;
}

.image-centerer{
    display: flex;
    justify-content: center;
}

.reviewer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e0e0e0;
    margin-top: 10px;
    overflow: hidden;
    height: 160px;
}

.reviewer-info-stacked{
    display: grid;
    text-decoration: none;
    color: black;
}

.reviewer-info-stacked:hover {
    text-decoration: none;
}

.reviewer-info-stacked p{
    text-align: center;
}

.review-box{
    height: 160px;
    margin-top: 20px;
    padding-left: 40px;
    overflow-y: auto;
}

.review-box p{
    margin-top: 10px;
    overflow-wrap: break-word;
}

.date-holder{
    display: flex;
    justify-content: end;
    vertical-align: top;
}

.review-date{
    text-align: right;
    vertical-align: text-top;
}

.stars{
    margin-top: 5px;
}

.publish-title{
    text-align: center;
}

.btn-centerer{
    display: flex;
    justify-content: center;
}