

.resultsTitle {
    margin-left: 10px;
}

.no-books{
    margin-top: 15%;
    position: relative;
    width: 100%;
}

.books{
    padding: 20px !important;
}

.search-options{
    padding: 20px !important;
}