<app-content-card>
	<h3 class="title">
        {{ 'BUY_BOOK.TITLE' | translate: { title: book().title } }}
	</h3>
	<hr/>
	<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
		<p>{{ 'BUY_BOOK.INSTRUCTION1' | translate }}</p>
		<p>{{ 'BUY_BOOK.INSTRUCTION2' | translate }}</p>
		<p>{{ 'BUY_BOOK.BOOK_PRICE' | translate: { price: getPrice(book()) | currency } }}</p>
		<p>{{ 'BUY_BOOK.WRITER_CBU' | translate: { cbu: book().writerInfo.cbu } }}</p>
		<div class="input-zone">
			<div class="file-row">
				<app-file-input class="input" accept="application/pdf, image/*" formGroupName="receipt" [formGroup]="getReceiptFormGroup()">{{ 'BUY_BOOK.RECEIPT_LABEL' | translate }}</app-file-input>
			</div>
		</div>
		<div class="options">
			<app-action-button [disabled]="!form.valid" (click)="onSubmit()">
                {{ 'BUY_BOOK.UPLOAD_BUTTON' | translate }}
			</app-action-button>
			<app-cancel-button routerLink="/book/{{book().id}}">
                {{ 'BUY_BOOK.CANCEL_BUTTON' | translate }}
			</app-cancel-button>
		</div>
	</form>
</app-content-card>
