<div class="container">
    <h1 class="page-title">Analytics</h1>

    @if(user.writerCategory === 'DEFAULT'){
            <span i18n>+ {{user.bronzeMin - user.totalOrders}} to Bronze</span>
    }
    @if(user.writerCategory === 'BRONZE'){
        <span i18n class="sales-category bronze">Bronze</span>
        <span i18n>+ {{user.silverMin - user.totalOrders}} to Silver</span>
    }
    @if(user.writerCategory === 'SILVER'){
        <span i18n class="sales-category silver">Silver</span>
        <span i18n>+ {{user.goldMin - user.totalOrders}} to Gold</span>
    }
    @if(user.writerCategory === 'GOLD'){
        <span i18n class="sales-category gold">Gold</span>
    }

    <mat-grid-list cols="4" rowHeight="2.8:1" gutterSize="20px" class="card">
        <mat-grid-tile i18n class="card-panel">
            Total Orders
            <br/>
            {{user.totalOrders}}
        </mat-grid-tile>
        <mat-grid-tile i18n class="card-panel">
            Total Revenue
            <br/>
            {{user.totalRevenue | currency: 'USD' : 'symbol' : '1.0-0'}}
        </mat-grid-tile>
        <mat-grid-tile i18n class="card-panel">
            Orders this month
            <br/>
            {{user.ordersThisMonth}}
        </mat-grid-tile>
        <mat-grid-tile i18n class="card-panel">
            Revenue this month
            <br/>
            {{user.revenueThisMonth | currency: 'USD' : 'symbol' : '1.0-0'}}
        </mat-grid-tile>
    </mat-grid-list>
</div>