<div class="container">
    <h1 class="page-title">{{ 'ANALYTICS' | translate }}</h1>

    @if(user?.writerCategory === WriterCategory.DEFAULT){
            <span>{{ 'SALES_TO_BRONZE' | translate: { count: 5 - user?.orderCount! } }}</span>
    }
    @if(user?.writerCategory === WriterCategory.BRONZE){
        <span class="sales-category bronze">Bronze</span>
        <span>{{ 'SALES_TO_SILVER' | translate: { count: 10 - user?.orderCount! } }}</span>
    }
    @if(user?.writerCategory === WriterCategory.SILVER){
        <span class="sales-category silver">Silver</span>
        <span>{{ 'SALES_TO_GOLD' | translate: { count: 20 - user?.orderCount! } }}</span>
    }
    @if(user?.writerCategory === WriterCategory.GOLD){
        <span class="sales-category gold">Gold</span>
		<span>{{ 'POPULAR_WRITER' | translate }}</span>
    }
	
    <mat-grid-list cols="4" rowHeight="2.8:1" gutterSize="20px" class="card">
        <mat-grid-tile class="card-panel">
            {{ 'TOTAL_ORDERS' | translate }}
            <br/>
            {{total?.orderCount}}
        </mat-grid-tile>
        <mat-grid-tile class="card-panel">
            {{ 'TOTAL_REVENUE' | translate }}
            <br/>
            {{total?.salesTotal | currency: 'USD' : 'symbol' : '1.0-0'}}
        </mat-grid-tile>
        <mat-grid-tile class="card-panel">
            {{ 'ORDERS_THIS_MONTH' | translate }}
            <br/>
            {{currentMonthTotal?.orderCount}}
        </mat-grid-tile>
        <mat-grid-tile class="card-panel">
            {{ 'REVENUE_THIS_MONTH' | translate }}
            <br/>
            {{currentMonthTotal?.salesTotal | currency: 'USD' : 'symbol' : '1.0-0'}}
        </mat-grid-tile>
    </mat-grid-list>

    <mat-checkbox class="checkbox" [(ngModel)]="showByMonth" (change)="setBooks($event)">
        {{ 'SHOW_BY_MONTH' | translate }}
    </mat-checkbox>

    @if(showByMonth){
        <form class="search-filters" [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'SELECT_YEAR' | translate }}</mat-label>
                <mat-select formControlName="year" (selectionChange)="onSubmit()">
                    @for (year of years; track year){
                        <mat-option [value]="year">{{year}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>{{ 'SELECT_MONTH' | translate }}</mat-label>
                <mat-select formControlName="month" (selectionChange)="onSubmit()">
                    @for (month of months; track month.number){
                        <mat-option [value]="month.number">{{ month.name | translate }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </form>

		@if (monthlyTotal$ | async; as monthlyTotal){
			<mat-grid-list cols="4" rowHeight="2.8:1" gutterSize="20px" class="card">
				<mat-grid-tile class="card-panel">
                    {{ 'ORDERS_THAT_MONTH' | translate }}
					<br/>
					{{monthlyTotal?.orderCount}}
				</mat-grid-tile>
				<mat-grid-tile class="card-panel">
                    {{ 'REVENUE_THAT_MONTH' | translate }}
					<br/>
					{{monthlyTotal?.salesTotal | currency: 'USD' : 'symbol' : '1.0-0'}}
				</mat-grid-tile>
				<mat-grid-tile>
				</mat-grid-tile>
				<mat-grid-tile>
				</mat-grid-tile>
			</mat-grid-list>
		}
    }

    <div class="table-header">
        <div class="header-cell">{{ 'TABLE_COVER' | translate }}</div>
        <div class="header-cell">{{ 'TABLE_BOOK' | translate }}</div>
        <div class="header-cell">{{ 'TABLE_TOTAL_ORDERS' | translate }}</div>
        <div class="header-cell">{{ 'TABLE_TOTAL_REVENUE' | translate }}</div>
    </div>
	
	@if (books$ | async; as books){
		@for (book of ((books)! | paginate: {id: 'analytics', itemsPerPage: pageSize, currentPage: currentPage, totalItems: (pagination$ | async)?.pagination?.totalCount!}); track book.book.id) {
			<app-analytics-card [book]="book"></app-analytics-card>
		}
		
		@if ((pagination$ | async)?.pagination?.pageCount! > 1){
			<app-paginator id="analytics" (pageChange)="onPageChange($event)"/>
		}
	}
</div>