<div class="container sales">
    <h1 class="page-title">{{ 'SALES.TITLE' | translate }}</h1>
	<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()">
		<mat-grid-list cols="2" rowHeight="5:1" gutterSize="10px">
			<mat-grid-tile>
				<mat-form-field class="full-width">
					<mat-label>{{ 'SALES.FORM.TITLE' | translate }}</mat-label>
					<input matInput formControlName="title">
				</mat-form-field>
			</mat-grid-tile>
			<mat-grid-tile>
				<mat-form-field class="full-width">
					<mat-label>{{ 'SALES.FORM.ORDER_STATUS' | translate }}</mat-label>
					<mat-select (selectionChange)="onSubmit()" formControlName="status">
						<mat-option [value]="null">-</mat-option>
                        @for (status of Object.values(OrderStatus); track status){
                            <mat-option [value]="status"> {{ 'ORDER_STATUS.' + status | translate }}</mat-option>
                        }
					</mat-select>
				</mat-form-field>
			</mat-grid-tile>
		</mat-grid-list>
	</form>
@let pagination = pagination$ | async;
@if ((orders$ | async); as orders){
	@if (orders.length === 0) {
		<div class="centerer big-font">
			<h5>{{ 'SALES.NO_SALES' | translate }}</h5>
		</div>
	}
	
	@if (orders.length != 0) {
		<mat-grid-list cols="5" rowHeight="3:1" gutterSize="20px" class="table-top">
			<mat-grid-tile class="table-title center-left">{{ 'SALES.TABLE.COVER' | translate }}</mat-grid-tile>
			<mat-grid-tile class="table-title center-left">{{ 'SALES.TABLE.BOOK' | translate }}</mat-grid-tile>
			<mat-grid-tile class="table-title center-left">{{ 'SALES.TABLE.DATE' | translate }}</mat-grid-tile>
			<mat-grid-tile class="table-title center-left">{{ 'SALES.TABLE.STATUS' | translate }}</mat-grid-tile>
			<mat-grid-tile class="table-title center-left">{{ 'SALES.TABLE.ACTIONS' | translate }}</mat-grid-tile>
		</mat-grid-list>
		
		
		@for (order of ((orders)! | paginate: {id: 'orders', itemsPerPage: pageSize, currentPage: currentPage, totalItems: pagination?.pagination?.totalCount!}); track order){
			<app-sales-order-card
				[order]="order"
			></app-sales-order-card>
		}
		
		@if ((pagination$ | async)?.pagination?.pageCount! > 1){
			<app-paginator id="orders" (pageChange)="onPageChange($event)"/>
		}
	}
}

</div>