<mat-toolbar>
	<mat-toolbar-row class="navbar-row">
		<div class="left-section">
			<a routerLink="/">
				<img class="logo" ngSrc="assets/cybrary.png" alt="Cybrary" width="150" height="60"/>
			</a>
		</div>
		
		<div class="center-section">
			@if (showSearchBar()){
				<mat-form-field class="search">
					<mat-icon matPrefix>search</mat-icon>
					<input matInput required autocomplete="off">
				</mat-form-field>
			}
		</div>
		<div class="right-section">
			@if (isLoggedIn() !== undefined) {
				@if (isLoggedIn()){
					<app-navbar-menu [user]="loggedUser()!" [pfp]="pfp()">
						<app-navbar-menu-item link="/profile/{{loggedUser()?.id}}" icon="person">Profile</app-navbar-menu-item>
						<app-navbar-menu-item link="purchases" icon="shopping_basket">Purchases</app-navbar-menu-item>
						@if (loggedUser()?.roles?.includes(UserRoles.WRITER)){
							<app-navbar-menu-item link="sales" icon="shopping_basket">Sales</app-navbar-menu-item>
							<app-navbar-menu-item link="analytics" icon="analytics">Analytics</app-navbar-menu-item>
						}
						<app-navbar-menu-item link="questions" icon="question_answer">Questions</app-navbar-menu-item>
						<app-navbar-menu-item link="add-book" icon="book">Publish</app-navbar-menu-item>
						<app-navbar-menu-item link="/" icon="exit_to_app" last (click)="logout.emit()">Sign out</app-navbar-menu-item>
					</app-navbar-menu>
				} @else {
					<app-nav-button link="/login">
                        Log in
					</app-nav-button>
					<app-nav-button link="/signup">
                        Sign up
					</app-nav-button>
				}
			}
		</div>
	</mat-toolbar-row>
</mat-toolbar>
