<mat-toolbar>
	<mat-toolbar-row class="navbar-row">
		<div class="left-section">
			<a routerLink="/">
				<img class="logo" ngSrc="assets/cybrary.png" alt="Cybrary" width="150" height="60"/>
			</a>
		</div>
		
		<div class="center-section">
			@if (showSearchBar()){
				<form class="search" [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()">
					<mat-form-field>
						<mat-icon matPrefix>search</mat-icon>
						<input matInput required autocomplete="off" formControlName="search">
					</mat-form-field>
				</form>
			}
		</div>
		<div class="right-section">
			@if (isLoggedIn() !== undefined) {
				@if (isLoggedIn()){
					<app-navbar-menu [user]="loggedUser()!" [pfp]="pfp()">
						<app-navbar-menu-item link="/profile/{{loggedUser()?.id}}" icon="person">{{ 'NAVBAR.PROFILE' | translate }}</app-navbar-menu-item>
						<app-navbar-menu-item link="purchases" icon="shopping_basket">{{ 'NAVBAR.PURCHASES' | translate }}</app-navbar-menu-item>
						@if (loggedUser()?.roles?.includes(UserRoles.WRITER)){
							<app-navbar-menu-item link="sales" icon="shopping_basket">{{ 'NAVBAR.SALES' | translate }}</app-navbar-menu-item>
							<app-navbar-menu-item link="analytics" icon="analytics">{{ 'NAVBAR.ANALYTICS' | translate }}</app-navbar-menu-item>
						}
						<app-navbar-menu-item link="questions" icon="question_answer">{{ 'NAVBAR.QUESTIONS' | translate }}</app-navbar-menu-item>
						<app-navbar-menu-item link="add-book" icon="book">{{ 'NAVBAR.PUBLISH' | translate }}</app-navbar-menu-item>
						<app-navbar-menu-item link="/" icon="exit_to_app" last (click)="logout.emit()">{{ 'NAVBAR.SIGN_OUT' | translate }}</app-navbar-menu-item>
					</app-navbar-menu>
				} @else {
					<app-nav-button link="/login">
                        {{ 'NAVBAR.LOG_IN' | translate }}
					</app-nav-button>
					<app-nav-button link="/signup">
                        {{ 'NAVBAR.SIGN_UP' | translate }}
					</app-nav-button>
				}
			}
		</div>
	</mat-toolbar-row>
</mat-toolbar>
