@use '@angular/material' as mat;

.mat-toolbar {
  background-color: #437C90;
  min-height: 80px;
  position: relative;

  height: 5%;
}

.navbar-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.left-section {
  text-align: left;
}

.center-section {
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.right-section {
  display: flex;
  height: 100%;
  text-align: right;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 150px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}



.search {
  border-radius: 2px;
  margin-top: 30px;
  border: none;
  padding: 5px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mdc-line-ripple {
  display: none
}





