<div class="explore_back">
	<div class="hide-on-small">
		<mat-grid-list cols="3" rowHeight="4:2" gutterSize="25px">
			<mat-grid-tile>
				<div class="home-card">
					<img class="home-image" src="assets/searchBook.svg" alt="Search book"/>
					<div class="home-card-content">
						<h6 class="home-steps">{{ 'FIND_BOOK' | translate }}</h6>
					</div>
				</div>
			</mat-grid-tile>
			<mat-grid-tile>
				<div class="home-card">
					<img class="home-image" src="assets/contactWriter.svg" alt="Contact writer"/>
					<div class="home-card-content">
						<h6 class="home-steps">{{ 'CONTACT_WRITER' | translate }}</h6>
					</div>
				</div>
			</mat-grid-tile >
			<mat-grid-tile>
				<div class="home-card">
					<img class="home-image" src="assets/contact.svg" alt="Get copy"/>
					<div class="home-card-content">
						<h6 class="home-steps">{{ 'GET_COPY' | translate }}</h6>
					</div>
				</div>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
</div>
