<mat-card matRipple class="book-card" routerLink="/book/{{book().id}}">
	<mat-card-header>
		<app-book-badge [category]="book().salesCategory"/>
		<img matCardImage class="book-image" ngSrc="{{book().cover}}?width=125&height=200" width="125" height="200" alt="Book cover"/>
	</mat-card-header>
	<mat-card-content class="content">
		<h2 class="book-title">{{book().title}}</h2>
		@if (showWriter()){
			<p class="writer">
                {{ 'BOOK_CARD.BY' | translate }} {{book().writerInfo.firstName}} {{book().writerInfo.lastName}}
			
			</p>
		}
		@if (showDate()) {
			<p class="extra-info">{{book().pageCount}} {{'PAGES' | translate}}</p>
			<p class="extra-info">{{book().publicationDate}}</p>
		} @else {
			<p class="extra-info">{{ (book().genre || 'UNKNOWN_GENRE') | translate }}</p>
		}
		<div class="price">
			@if(book().deal){
				<p class="deal">
					<span class="crossed">${{book().price | number}}</span>
					<span class="discount"> -{{percentage() | number}}%</span>
				</p>
				<p class="deal-price">${{book().dealInfo?.price | number}}</p>
			} @else {
				<p class="no-deal">${{book().price | number}}</p>
			}
		</div>
	</mat-card-content>
</mat-card>

