.book-card {
  height: 300px;
  max-width: 250px;
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 0;
  cursor: pointer;
  background-color: white;
}

.book-image {
  height: 150px;
  max-width: 250px;
  border-radius: 2px 2px 0 0;
  object-fit: cover;
}

.mat-mdc-card-header {
  padding: 0;
}

.mat-mdc-card-content {
  width: 100%;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.price {
  color: #0288d1;
  position: absolute;
  bottom: 0;
  right: 10px;
  text-align: right;
}

.book-title {
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;  /* Evita el salto de línea */
  overflow: hidden;  /* Oculta el texto que se desborda */
  text-align: start;
}


.crossed {
  text-decoration: line-through;
}

.deal {
  font-size: 0.8rem;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;  /* Evita que el texto salte de línea */
  overflow: hidden;  /* Oculta el contenido que sobrepase el ancho */
}

.discount{
  color: red;
  margin-left: 5px;
}

.deal-price {
  margin-top: 5px;
}

.writer {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;  /* Evita que el texto salte de línea */
  overflow: hidden;  /* Oculta el contenido que sobrepase el ancho */
}


.no-deal {
  margin-top: 15px;
  font-size: 1.15rem;
}

.extra-info {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;  /* Evita que el texto salte de línea */
  overflow: hidden;  /* Oculta el contenido que sobrepase el ancho */
}