<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<h1 mat-dialog-title>{{ 'SALES.PAYMENT_DECLINE.TITLE' | translate }}</h1>
	<div mat-dialog-content>
		<p>{{ 'SALES.PAYMENT_DECLINE.CONFIRMATION_MESSAGE' | translate }}</p>
		<mat-form-field class="full-width">
			<mat-label>{{ 'SALES.PAYMENT_DECLINE.REASON_LABEL' | translate }}</mat-label>
			<input matInput required maxlength="255" formControlName="reason">
		</mat-form-field>
	</div>
	<div mat-dialog-actions>
		<button mat-button class="cancel-button" (click)="closeDialog()" type="button">{{ 'SALES.PAYMENT_DECLINE.CANCEL_BUTTON' | translate }}</button>
		<button mat-button class="decline-button" (click)="onSubmit()" type="submit" [disabled]="!this.form.valid">{{ 'SALES.PAYMENT_DECLINE.DECLINE_BUTTON' | translate }}</button>
	</div>
</form>