.full-width {
  width: 100%;
}

.row-form {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-zone {
  width: 100%;
}

.question-button {
  width: 20%;
  margin-right: 10px;
}

.input {
  width: 95%;
  margin-left: 40px;
}