@if (book$ | async; as book){
	<app-content-card>
		<h2 class="title">
			@if (book.deal){
				Edit the current deal for {{book.title}}
			} @else {
				Start a new deal for {{book.title}}
			}
		</h2>
		<hr/>
		<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
			<p>Original price: {{book.price | currency}}</p>
			@if (book.deal){
				<p>Current deal price: {{book.dealInfo?.price | currency}}</p>
			}
			<div class="input-row">
			<mat-form-field appearance="outline" class="input">
				<mat-label>Discounted price</mat-label>
				<input matInput required type="number" formControlName="price" min="0.1" [max]="getMinPrice(book.price!)">
				<mat-hint>Should be less than {{getMinPrice(book.price!) | number}}</mat-hint>
			</mat-form-field>
			<mat-form-field appearance="outline" class="input">
				<mat-label>End date</mat-label>
				<input matInput [matDatepicker]="picker" required formControlName="endDate" [min]="minDate" readonly>
				<mat-hint>MM/DD/YYYY</mat-hint>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
			</div>
			<div class="btn-zone">
				<app-action-button [disabled]="!form.valid" (click)="onSubmit()" submit>
					Set deal
				</app-action-button>
				@if (book.deal){
					<app-delete-button (click)="endDeal()" >
						End deal
					</app-delete-button>
				}
				<app-cancel-button routerLink="/book/{{book.id}}">
					Cancel
				</app-cancel-button>
			</div>
		</form>
	</app-content-card>
}