@if (book$ | async; as book){
	<app-content-card>
		<h2 class="title">
			@if (book.deal){
                {{ 'DEAL.EDIT_DEAL' | translate: { title: book.title } }}
			} @else {
                {{ 'DEAL.START_DEAL' | translate: { title: book.title } }}
			}
		</h2>
		<hr/>
		<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
			<p>{{ 'DEAL.ORIGINAL_PRICE' | translate: { price: (book.price | currency) } }}</p>
			@if (book.deal){
				<p>{{ 'DEAL.CURRENT_DEAL_PRICE' | translate: { dealPrice: (book.dealInfo?.price | currency) } }}</p>
			}
			<div class="input-row">
			<mat-form-field appearance="outline" class="input">
				<mat-label>{{ 'DEAL.DISCOUNTED_PRICE_LABEL' | translate }}</mat-label>
				<input matInput required type="number" formControlName="price" min="0.1" [max]="getMinPrice(book.price!)">
				<mat-hint>{{ 'DEAL.DISCOUNTED_PRICE_HINT' | translate: { minPrice: (getMinPrice(book.price!) | number) } }}</mat-hint>
			</mat-form-field>
			<mat-form-field appearance="outline" class="input">
				<mat-label>{{ 'DEAL.END_DATE_LABEL' | translate }}</mat-label>
				<input matInput [matDatepicker]="picker" required formControlName="endDate" [min]="minDate" readonly>
				<mat-hint>{{ 'DEAL.END_DATE_HINT' | translate }}</mat-hint>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
			</div>
			<div class="btn-zone">
				<app-action-button [disabled]="!form.valid" (click)="onSubmit()" submit>
                    {{ 'DEAL.SET_DEAL_BUTTON' | translate }}
				</app-action-button>
				@if (book.deal){
					<app-delete-button (click)="endDeal()" >
                        {{ 'DEAL.END_DEAL_BUTTON' | translate }}
					</app-delete-button>
				}
				<app-cancel-button routerLink="/book/{{book.id}}">
                    {{ 'DEAL.CANCEL_BUTTON' | translate }}
				</app-cancel-button>
			</div>
		</form>
	</app-content-card>
}