<div class="question-card">
	<div class="img-wrap" routerLink="/book/{{question().bookInfo.id}}">
	<img
		class="book-img"
		[ngSrc]="question().bookInfo.cover!"
		alt="Book cover"
		height="149"
		width="100"
	/>
	</div>
	<div class="info">
		<div><a class="book-title" routerLink="/book/{{question().bookInfo.id}}">{{question().bookInfo.title}}</a></div>
		<div>
			@if (received()){
                {{ 'QUESTIONS.QUESTION_CARD.QUESTIONER' | translate }}: <a class="book-title" routerLink="/profile/{{question().questionerInfo?.id}}"> {{question().questionerInfo?.firstName}} {{question().questionerInfo?.lastName}}</a>
			} @else {
                {{ 'QUESTIONS.QUESTION_CARD.WRITER' | translate }}: <a class="book-title" routerLink="/profile/{{question().writerInfo?.id}}"> {{question().writerInfo?.firstName}} {{question().writerInfo?.lastName}}</a>
			}
		</div>
	</div>
	<div class="question">
		<div>
			<span class="question-text">{{question().question}}</span>
			<span class="date"> - {{question().date | date:'yyyy/MM/dd'}}</span>
		</div>
		<div class="answer">
			@if(received()){
				@if (showAnswer()){
					<span><mat-icon class="arrow">subdirectory_arrow_right</mat-icon></span>
					<span class="answer-text">{{question().answerInfo?.answer}}</span>
					<span class="date"> - {{question().answerInfo?.answerDate | date:'yyyy/MM/dd'}}</span>
				} @else {
					<form class="row-form" [formGroup]="form"  (ngSubmit)="onSubmit()" >
						<mat-icon class="arrow">subdirectory_arrow_right</mat-icon>
						<mat-form-field class="input">
							<mat-label>{{ 'QUESTIONS.QUESTION_CARD.ANSWER' | translate }}</mat-label>
							<input matInput required class="input-field" formControlName="answer" autocomplete="off" maxlength="500">
						</mat-form-field>
						<app-action-button class="button" [disabled]="!this.form.valid" (click)="onSubmit()">
							<div class="answer">
                                {{ 'QUESTIONS.QUESTION_CARD.ANSWER_LABEL' | translate }}
							</div>
						</app-action-button>
					</form>
				}
			} @else {
				<span><mat-icon class="arrow">subdirectory_arrow_right</mat-icon></span>
				@if (question().answerInfo) {
					<span class="answer-text">{{question().answerInfo?.answer}}</span>
					<span class="date"> - {{question().answerInfo?.answerDate | date:'yyyy/MM/dd'}}</span>
				} @else {
					<span class="answer-text">{{ 'QUESTIONS.QUESTION_CARD.NO_ANSWER_YET' | translate }}</span>
				}
			}
		</div>
	</div>
</div>