.form {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.red-text {
  color: red;
  text-align: center;
  max-width: 300px;
}

.btn {
  align-self: center;
}

.inside-form {
  text-align: left;
  margin-top: 0;
}

.password-input {
  margin-top: 20px;
  margin-bottom: 20px;
}