<app-notification-card>
	<card-title>Write your new password</card-title>
	<card-text>
		<form class="form" [formGroup]="changePasswordForm" (keydown.enter)="changePassword()" (ngSubmit)="changePassword()">
			
			<mat-form-field appearance="outline">
				<mat-label>Old password</mat-label>
				<input matInput [type]="hideOld ? 'password' : 'text'" required formControlName="old"/>
				<button
					mat-icon-button
					matSuffix
					type="button"
					(click)="hideOld = !hideOld"
				>
					<mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
			</mat-form-field>
			@if (authFailure()){
				<p class="red-text inside-form">Incorrect Password</p>
			}

			
			<mat-form-field appearance="outline" class="password-input">
				<mat-label>New password</mat-label>
				<input matInput [type]="hideNew ? 'password' : 'text'" required formControlName="password"/>
				<button
					mat-icon-button
					matSuffix
					type="button"
					(click)="hideNew = !hideNew"
				>
					<mat-icon>{{hideNew? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
				<mat-hint>At least 6 characters</mat-hint>
			</mat-form-field>
			
			<mat-form-field appearance="outline" class="confirm-input">
				<mat-label>Confirm new password</mat-label>
				<input matInput [type]="hideRepeat ? 'password' : 'text'" required formControlName="confirm"/>
				<button
					mat-icon-button
					matSuffix
					type="button"
					(click)="hideRepeat = !hideRepeat"
				>
					<mat-icon>{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
			</mat-form-field>
			
			@if ((changeFailed())){
				<p class="red-text">There was an error with your password change attempt. Please try again later</p>
			}
			@if (noMatch()){
				<p class="red-text">Passwords do not match</p>
			}

			<app-action-button class="btn" submit [disabled]="!changePasswordForm.valid">
				Change password
			</app-action-button>
		
		</form>
	</card-text>
</app-notification-card>
