<app-notification-card>
	<card-title>{{ 'WRITE_NEW_PASSWORD' | translate }}</card-title>
	<card-text>
		<form class="form" [formGroup]="changePasswordForm" (keydown.enter)="changePassword()" (ngSubmit)="changePassword()">
			
			<mat-form-field appearance="outline">
				<mat-label>{{ 'OLD_PASSWORD' | translate }}</mat-label>
				<input matInput [type]="hideOld ? 'password' : 'text'" required formControlName="old"/>
				<button
					mat-icon-button
					matSuffix
					type="button"
					(click)="hideOld = !hideOld"
				>
					<mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
			</mat-form-field>
			@if (authFailure()){
				<p class="red-text inside-form">{{ 'INCORRECT_PASSWORD' | translate }}</p>
			}

			
			<mat-form-field appearance="outline" class="password-input">
				<mat-label>{{ 'NEW_PASSWORD' | translate }}</mat-label>
				<input matInput [type]="hideNew ? 'password' : 'text'" required formControlName="password"/>
				<button
					mat-icon-button
					matSuffix
					type="button"
					(click)="hideNew = !hideNew"
				>
					<mat-icon>{{hideNew? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
				<mat-hint>{{ 'INCLUDE_LESS_THAN_6_CHARACTERS' | translate }}</mat-hint>
			</mat-form-field>
			
			<mat-form-field appearance="outline" class="confirm-input">
				<mat-label>{{ 'CONFIRM_NEW_PASSWORD' | translate }}</mat-label>
				<input matInput [type]="hideRepeat ? 'password' : 'text'" required formControlName="confirm"/>
				<button
					mat-icon-button
					matSuffix
					type="button"
					(click)="hideRepeat = !hideRepeat"
				>
					<mat-icon>{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
			</mat-form-field>
			
			@if ((changeFailed())){
				<p class="red-text">{{ 'PASSWORD_CHANGE_ERROR' | translate }}</p>
			}
			@if (noMatch()){
				<p class="red-text">{{ 'PASSWORDS_DO_NOT_MATCH' | translate }}</p>
			}
			
			<div class="btn-row">
				<app-action-button class="submit-button" submit [disabled]="!changePasswordForm.valid">
                    {{ 'SAVE_CHANGES' | translate }}
				</app-action-button>
				<app-cancel-button routerLink="/profile" type="button">
                    {{ 'CANCEL' | translate }}
				</app-cancel-button>
			</div>
		
		</form>
	</card-text>
</app-notification-card>
