.home-margin {
  margin-left: 12px;
  margin-bottom: 10px;
  margin-top: 12px;
  font-size: 1.75rem;
  line-height: 110%;
  font-weight: 400;
}

.grid-book-card {
  width: 100%;
}

.book-grid {
  margin-right: 12px;
  margin-left: 12px;
}

.no-books {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 1.75rem;
}