<app-notification-card>
	<card-title>Reset your password</card-title>
	<card-text>
		<form class="form" [formGroup]="resetForm" (keydown.enter)="resetPassword()" (ngSubmit)="resetPassword()">
			
			<mat-form-field appearance="outline" class="password-input">
				<mat-label>New password</mat-label>
				<input matInput [type]="hide ? 'password' : 'text'" required formControlName="password"/>
				<button
					mat-icon-button
					matSuffix
					type="button"
					(click)="hide = !hide"
				>
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
				<mat-hint>At least 6 characters</mat-hint>
			</mat-form-field>
			
			<mat-form-field appearance="outline" class="confirm-input">
				<mat-label>Confirm new password</mat-label>
				<input matInput [type]="hideRepeat ? 'password' : 'text'" required formControlName="confirm"/>
				<button
					mat-icon-button
					matSuffix
					type="button"
					(click)="hideRepeat = !hideRepeat"
				>
					<mat-icon>{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
			</mat-form-field>
			
			@if ((resetFailed())){
				<p class="red-text">There was an error with your password reset attempt. Please try again later</p>
			}
			@if (noMatch()){
				<p class="red-text">Passwords do not match</p>
			}
			
			<app-action-button class="btn" submit [disabled]="!resetForm.valid">
				Change password
			</app-action-button>
			
		</form>
	</card-text>
</app-notification-card>
