<div class="center">
	<mat-tab-group class="tabber" (selectedTabChange)="onTabChange($event)" [selectedIndex]="index.selectedIndex">
		@if (showPublications()){
			<mat-tab class="tab">
				<ng-template mat-tab-label>
					<h3>Publications</h3>
				</ng-template>
				<ng-template matTabContent>
					<div class="white">
						<app-publications-tab [userId]="user().id!"></app-publications-tab>
					</div>
				</ng-template>
			</mat-tab>
		}
		@if (showBoughtBooks()){
			<mat-tab class="tab">
				<ng-template mat-tab-label>
					<h2>Bought books</h2>
				</ng-template>
				<ng-template matTabContent>
					<div class="white">
						<app-bought-books-tab [userId]="user().id!"></app-bought-books-tab>
					</div>
				</ng-template>
			</mat-tab>
		} @else {
			<mat-tab class="tab">
				<ng-template mat-tab-label>
					<h2>Recommendations</h2>
				</ng-template>
				<ng-template matTabContent>
					<div class="white">
						<app-recommendations-tab [userId]="user().id!"></app-recommendations-tab>
					</div>
				</ng-template>
			</mat-tab>
		}
		@if (showWishlist()){
			<mat-tab class="tab">
				<ng-template mat-tab-label>
					<h2>Wishlist</h2>
				</ng-template>
				<ng-template matTabContent>
					<div class="white">
						<app-wishlist-tab [userId]="user().id!"></app-wishlist-tab>
					</div>
				</ng-template>
			</mat-tab>
		}
	</mat-tab-group>
</div>