<div class="profile-tabs">
    <a class="profile-tab"
       [class.active]="selectedTab === 'publications'"
       (click)="onTabClick('publications')">
        <div class="tab-text">
            <p>Publicaciones</p>
        </div>
    </a>

    <a class="profile-tab"
       [class.active]="selectedTab === 'boughtBooks'"
       (click)="onTabClick('boughtBooks')">
        <div class="tab-text">
            <p>Libros comprados</p>
        </div>
    </a>

    <a class="profile-tab"
       [class.active]="selectedTab === 'wishlist'"
       (click)="onTabClick('wishlist')">
        <div class="tab-text">
            <p>Deseados</p>
        </div>
    </a>
</div>