<app-notification-card>
	<card-title>{{ 'LOG_IN_TITLE' | translate }}</card-title>
	<card-text>
		<form class="form" [formGroup]="loginForm" (keydown.enter)="doLogin()" (ngSubmit)="doLogin()">
			
			@if (loginFailed()){
				<p class="red-text">{{ 'ERROR_LOGIN' | translate }}</p>
			}
			
			<mat-form-field appearance="outline" class="input">
				<mat-label>{{ 'EMAIL' | translate }}</mat-label>
				<input matInput required email formControlName="email" autocomplete="off">
			</mat-form-field>
			
			<mat-form-field appearance="outline" class="password-input">
				<mat-label>{{ 'PASSWORD' | translate }}</mat-label>
				<input matInput [type]="hide() ? 'password' : 'text'" required formControlName="password" autocomplete="off"/>
				<button
					mat-icon-button
					matSuffix
					type="button"
					(click)="toggleHide($event)"
				>
					<mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
			</mat-form-field>
			
			<mat-checkbox class="remember-me" formControlName="rememberMe">{{ 'REMEMBER_ME' | translate }}</mat-checkbox>
			
			<app-action-button class="login-btn" submit [disabled]="!loginForm.valid">
                {{ 'LOG_IN' | translate }}
			</app-action-button>
			
			<div class="help-message">
				<p>{{ 'DONT_HAVE_ACCOUNT' | translate }} <a routerLink="/signup">{{ 'REGISTER' | translate }}</a></p>
				
				<p><a routerLink="/forgot-password">{{ 'FORGOT_PASSWORD' | translate }}</a></p>
			</div>
		</form>
	</card-text>
</app-notification-card>
