<app-notification-card>
	<card-title>{{ 'RESET_PASSWORD_TITLE' | translate }}</card-title>
	<card-text>
		<form class="form" [formGroup]="resetForm" (ngSubmit)="submitReset()">
			
			<p>{{ 'RESET_PASSWORD_MESSAGE' | translate }}</p>
			
			<mat-form-field appearance="outline" class="input">
				<mat-label>{{ 'EMAIL' | translate }}</mat-label>
				<input matInput required email formControlName="email">
			</mat-form-field>
			
			@if (submitFailed()){
				<p class="red-text">{{ 'NO_ACCOUNT_ASSOCIATED' | translate }}</p>
			}
			
			<app-action-button class="reset-btn" submit [disabled]="!resetForm.valid">
                {{ 'RESET_PASSWORD_BTN' | translate }}
			</app-action-button>
		
		</form>
	</card-text>
</app-notification-card>