.form {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.red-text {
  color: red;
}

.input {
  min-width: 300px;
  margin-top: 10px;
}

.reset-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}