<app-notification-card>
	<card-title>Reset your password</card-title>
	<card-text>
		<form class="form" [formGroup]="resetForm" (ngSubmit)="submitReset()">
			
			<p>Enter your email address and we'll send you a link to reset your password</p>
			
			<mat-form-field appearance="outline" class="input">
				<mat-label>Email</mat-label>
				<input matInput required email formControlName="email">
			</mat-form-field>
			
			@if (submitFailed()){
				<p class="red-text">No account associated with this email</p>
			}
			
			<app-action-button class="reset-btn" submit [disabled]="!resetForm.valid">
				Reset password
			</app-action-button>
		
		</form>
	</card-text>
</app-notification-card>