@if (books$ | async; as	books){
	<mat-grid-list cols="4" gutterSize="10px" rowHeight="375px" class="book-grid">
		@for (book of (books | paginate: {id: 'recommendations', itemsPerPage: pageSize, currentPage: currentPage, totalItems: (pagination$ | async)?.pagination?.totalCount!}); track book.id){
			<mat-grid-tile>
				<app-small-book-card [book]="book" class="recommendation"></app-small-book-card>
			</mat-grid-tile>
		}
	</mat-grid-list>
	
	@if ((pagination$ | async)?.pagination?.pageCount! > 1){
		<app-paginator id="recommendations" (pageChange)="onPageChange($event)"/>
	}
	
	@if (books.length === 0){
		<h4 class="center-text">{{ 'NO_BOOKS_FOUND' | translate }}</h4>
	}
}