<app-notification-card>
	<card-title>
		<div class="success">
			<h2>{{ 'BUY_BOOK.SUCCESS_TITLE' | translate }}</h2>
		</div>
	</card-title>
	<card-text>
		<div class="content">
			<p>{{ 'BUY_BOOK.SUCCESS_MESSAGE' | translate }}</p>
			
			<div class="btn-row">
				<app-nav-button link="/">
                    {{ 'BUY_BOOK.FIND_BOOKS_BUTTON' | translate }}
				</app-nav-button>
				<app-nav-button link="/purchases">
                    {{ 'BUY_BOOK.VIEW_PURCHASES_BUTTON' | translate }}
				</app-nav-button>
			</div>
			
			<img class="success-image"
				 ngSrc="assets/order_summary.svg"
				 alt="Bought confirmation"
				 width="400"
				 height="400"
			/>
		</div>
	</card-text>
</app-notification-card>