@if (book$ | async; as book){
<app-content-card>
	<mat-grid-list cols="12" rowHeight="450">
		<mat-grid-tile colspan="5">
			@if (book.cover){
				<div class="cover-centerer">
					<img
						class="book-cover"
						ngSrc="{{book.cover}}"
						alt="Book cover"
						height="450"
						width="300"
					/>
				</div>
			}
		</mat-grid-tile>
		<mat-grid-tile colspan="7">
			<div class="book-info">
				<div class="info-row">
					<div class="info">
						<div class="row">
							<h1 class="title">{{book.title}}</h1>
							<div class="category">
								@switch (book.salesCategory){
									@case (SalesCategory.BEST_SELLER){
										<div class="sales-category best-seller">
                                            {{ 'BEST_SELLER' | translate }}
										</div>
									}
									@case (SalesCategory.POPULAR){
										<div class="sales-category popular">
                                            {{ 'POPULAR' | translate }}
										</div>
									}
								}
							</div>
						</div>
	
						<div class="author">
							<div  class="writer-name">
								{{'BOOK_DETAILS_BY' | translate}} <a class="writer-name" routerLink="/profile/{{book.writerInfo.id}}">{{book.writerInfo.firstName}} {{book.writerInfo.lastName}}</a>
							</div>
						</div>
						<div class="rating">
							@if(book.averageRating! > 0){
								<app-star-rating [rating]="book.averageRating!"></app-star-rating>
							}
						</div>
						<div class="pricing">
							@if (book.deal){
								<h6 class="deal">
									<span class="strikethrough">${{book.price | number: '1.0-0'}}</span>
									<span class="percentage">-{{getPercentage(book.price!, book.dealInfo?.price!) | number: '1.0-0'}}%</span>
								</h6>
								<h5 class="price">${{book.dealInfo?.price | number: '1.0-0'}}</h5>
							} @else {
								<h5 class="price">${{book.price | number: '1.0-0'}}</h5>
							}
						</div>
					</div>
					<div class="actions">
						@let isLoggedIn = isLoggedIn$ | async;
						@let isAuthor = isAuthor$ | async;
						@let existsOrder = existsOrder$ | async;
						@let isOwner = isOwner$ | async;
						@let hasDeal = !!book.deal;
						@let hasReviewed = !!loggedUserReview;

						@if ((!isLoggedIn || !existsOrder) && !isAuthor){
							<app-action-button class="action-btn" routerLink="/book/{{bookId}}/buy"><div class="book-action"> {{ 'BOOK_DETAILS.BUY_BOOK' | translate }}</div></app-action-button>
						}
						@if (!isOwner && existsOrder){
							<div class="purchased">You already bought this book</div>
							<app-action-button class="action-btn" routerLink="/purchases" [queryParams]="{title: book.title}">
								<div class="book-action">{{ 'BOOK_DETAILS.GO_TO_PURCHASES' | translate }}</div>
							</app-action-button>
						}
						@if (isAuthor || isOwner){
							<app-action-button class="action-btn" (click)="bookDetailsService.openPdf(book.bookFile!)">
								<div class="book-action">{{ 'BOOK_DETAILS.READ_BOOK' | translate }}</div>
							</app-action-button>
						}
						@if (isAuthor || !isOwner){
							<app-action-button class="action-btn" (click)="bookDetailsService.openPdf(book.preview!)">
								<div class="book-action">{{ 'BOOK_DETAILS.READ_PREVIEW' | translate }}</div>
							</app-action-button>
						}
						@if (isAuthor){
							<app-action-button class="action-btn" routerLink="/book/{{bookId}}/edit">
								<div class="book-action">{{ 'BOOK_DETAILS.EDIT_BOOK' | translate }}</div>
							</app-action-button>
						}
						@if (isAuthor && !hasDeal){
							<app-action-button class="action-btn" routerLink="/book/{{bookId}}/deal">
								<div class="book-action">{{ 'BOOK_DETAILS.START_DEAL' | translate }}</div>
							</app-action-button>
						}
						@if (isAuthor && hasDeal){
							<app-action-button class="action-btn" routerLink="/book/{{bookId}}/deal">
								<div class="book-action">{{ 'BOOK_DETAILS.CHANGE_DEAL' | translate }}</div>
							</app-action-button>
						}
						@if (isOwner && !hasReviewed){
							<app-action-button class="action-btn" (click)="openReviewDialog()">
								<div class="book-action">{{ 'BOOK_DETAILS.LEAVE_REVIEW' | translate }}</div>
							</app-action-button>
						}
						@if (isOwner && hasReviewed){
							<app-action-button class="action-btn" (click)="openReviewDialog()">
								<div class="book-action">{{ 'BOOK_DETAILS.EDIT_REVIEW' | translate }}</div>
							</app-action-button>
						}
						@if (isLoggedIn && !existsOrder && !isAuthor){
							<mat-checkbox class="book-checkbox" [checked]="(isWishlisted)" (change)="bookDetailsService.toggleWishlist(book.id!,$event.checked)">{{ 'BOOK_DETAILS.WISHLIST_BOOK' | translate }}</mat-checkbox>
						}
						@if (isOwner){
							<mat-checkbox class="book-checkbox" [checked]="(isRecommended)" (change)="bookDetailsService.toggleRecommend(book.id!,$event.checked)">{{ 'BOOK_DETAILS.RECOMMEND_BOOK' | translate }}</mat-checkbox>
						}
					</div>
				</div>
				<div class="details-row">
					<div class="details-box not-last">
						<mat-icon>calendar_month</mat-icon>
						<p>{{book.publicationDate}}</p>
					</div>
					<div class="details-box not-last">
						<mat-icon>{{ GenreIcon[book.genre!] }}</mat-icon>
						<p class="genre">{{ (book.genre || 'UNKNOWN_GENRE') | translate }}</p>
					</div>
					<div class="details-box not-last">
						<mat-icon>description</mat-icon>
						<p>{{book.pageCount}}</p>
					</div>
					<div class="details-box">
						<mat-icon>face</mat-icon>
						<p>+{{book.suggestedAge}}</p>
					</div>
				</div>
			</div>
		</mat-grid-tile>
	</mat-grid-list>
	<div class="description">
		<p>{{book.description}}</p>
	</div>
	@if (recommendations$ | async; as recommendations){
		<div class="recommended-books">
			<h5 class="preview-name">{{ 'BOOK_DETAILS.SIMILAR_BOOKS' | translate }}</h5>
			<mat-grid-list cols="4" gutterSize="20px" rowHeight="375px">
				@for (book of recommendations; track book.id){
					<mat-grid-tile>
						<app-small-book-card [book]="book" class="recommended-book"></app-small-book-card>
					</mat-grid-tile>
				}
			</mat-grid-list>
		</div>
	}
	
	@if (isLoggedIn && !isAuthor && !existsOrder){
		<div class="question-form">
			<app-question-submit-bar [bookId]="bookId" (submitted)="refetchMyQuestions()"></app-question-submit-bar>
		</div>
	}
	
	<div class="tab-centerer">
		<mat-tab-group class="tabber" (selectedTabChange)="onTabChange($event)" [selectedIndex]="index.selectedIndex">
			<mat-tab class="tab">
				<ng-template mat-tab-label>
                    {{ 'BOOK_DETAILS.REVIEWS' | translate }} ({{((reviewPage$ | async)?.pagination?.totalCount ?? 0) + (loggedUserReview!=null? 1: 0)}})
				</ng-template>
				<ng-template matTabContent>
					<div class="white">
						<app-review-tab [loggedUserReview]="loggedUserReview" [bookId]="bookId"></app-review-tab>
					</div>
				</ng-template>
			</mat-tab>
			<mat-tab class="tab">
				<ng-template mat-tab-label>
                    {{ 'BOOK_DETAILS.QUESTIONS' | translate }} ({{(questionPage$ | async)?.pagination?.totalCount}})
				</ng-template>
				<ng-template matTabContent>
					<div class="white">
						@if (isAuthor){
							<app-writer-questions-tab [bookId]="bookId" [questionPage]="questionPage$!"></app-writer-questions-tab>
						} @else {
							<app-questions-tab [bookId]="bookId" [questionPage]="questionPage$!"></app-questions-tab>
						}
					</div>
				</ng-template>
			</mat-tab>
			@if (!isAuthor && isLoggedIn){
				<mat-tab class="tab">
					<ng-template mat-tab-label>
                        {{ 'BOOK_DETAILS.MY_QUESTIONS' | translate }} ({{(myQuestionPage$ | async)?.pagination?.totalCount}})
					</ng-template>
					<ng-template matTabContent>
						<div class="white">
							<app-my-questions-tab [bookId]="bookId" [questionPage]="myQuestionPage$!"></app-my-questions-tab>
						</div>
					</ng-template>
				</mat-tab>
			}
		</mat-tab-group>
	</div>
</app-content-card>
}
