<app-notification-card>
	<card-title>{{ 'SIGNUP.TITLE' | translate }}</card-title>
	<card-text>
		<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form">
			<mat-form-field appearance="outline">
				<mat-label>{{ 'SIGNUP.FIRST_NAME' | translate }}</mat-label>
				<input matInput formControlName="firstName" maxlength="255" autocomplete="off">
				@if (showErrorMessage('firstName')) {
					<mat-error>{{getErrorMessage('firstName')}}</mat-error>
				}
			</mat-form-field>
			
			<mat-form-field appearance="outline">
				<mat-label>{{ 'SIGNUP.LAST_NAME' | translate }}</mat-label>
				<input matInput formControlName="lastName" autocomplete="off">
				@if (showErrorMessage('lastName')) {
					<mat-error>{{getErrorMessage('lastName')}}</mat-error>
				}
			</mat-form-field>
			
			<mat-form-field appearance="outline">
				<mat-label>{{ 'SIGNUP.EMAIL' | translate }}</mat-label>
				<input matInput formControlName="email" type="email" maxlength="255" autocomplete="off">
				@if (showErrorMessage('email')) {
					<mat-error>{{getErrorMessage('email')}}</mat-error>
				}
			</mat-form-field>
			
			<mat-form-field appearance="outline">
				<mat-label>{{ 'SIGNUP.PASSWORD' | translate }}</mat-label>
				<input matInput formControlName="password" maxlength="255"
					   [type]="hide ? 'password' : 'text'">
				<button mat-icon-button matSuffix type="button"
						(click)="hide = !hide">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
				@if (showErrorMessage('password')) {
					<mat-error>{{getErrorMessage('password')}}</mat-error>
				}
			</mat-form-field>
			
			<mat-form-field appearance="outline">
				<mat-label>{{ 'SIGNUP.CONFIRM_PASSWORD' | translate }}</mat-label>
				<input matInput formControlName="repeatPassword" maxlength="255"
					   [type]="hideRepeat ? 'password' : 'text'">
				<button mat-icon-button matSuffix type="button"
						(click)="hideRepeat = !hideRepeat">
					<mat-icon>{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
				@if (signupForm.hasError('notMatching')) {
					<mat-error>{{ 'SIGNUP.PASSWORD_NOT_MATCHING' | translate }}</mat-error>
				}
			</mat-form-field>
			
			<app-action-button class="signup-btn" [disabled]="!signupForm.valid" submit>{{ 'SIGNUP.SIGN_UP' | translate }}</app-action-button>

			<p class="login-link">
                {{ 'SIGNUP.ALREADY_HAVE_ACCOUNT' | translate }}
				<a routerLink="/login"> {{ 'SIGNUP.LOGIN' | translate }}</a>
			</p>
		</form>
	</card-text>
</app-notification-card>

