<app-notification-card>
	<card-title>Edit your profile</card-title>
	<card-text>
		<form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="form">
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>First name</mat-label>
				<input matInput formControlName="firstName" required>
				@if (editForm.get('firstName')?.invalid && editForm.get('firstName')?.touched) {
					<mat-error>{{getErrorMessage('firstName')}}</mat-error>
				}
			</mat-form-field>
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Last name</mat-label>
				<input matInput formControlName="lastName" required>
				@if (editForm.get('lastName')?.invalid && editForm.get('lastName')?.touched) {
					<mat-error>{{getErrorMessage('lastName')}}</mat-error>
				}
			</mat-form-field>
			@if (shouldShowCbu){
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>CBU or alias</mat-label>
					<input matInput formControlName="cbu" required>
					@if (editForm.get('cbu')?.invalid && editForm.get('cbu')?.touched) {
						<mat-error>{{getErrorMessage('cbu')}}</mat-error>
					}
				</mat-form-field>
			}
			<mat-form-field appearance="outline" class="full-width">
				<mat-label>Description</mat-label>
				<textarea matInput formControlName="description"></textarea>
				@if (editForm.get('description')?.invalid && editForm.get('description')?.touched) {
					<mat-error>{{getErrorMessage('description')}}</mat-error>
				}
			</mat-form-field>
			
			<app-file-input accept="image/*" formGroupName="pfp" [formGroup]="getPfpFormGroup()" [required]="false">
				Profile picture
			</app-file-input>
			<div class="btn-row">
				<app-action-button class="submit-button" submit [disabled]="!editForm.valid">
					Save changes
				</app-action-button>
				<app-cancel-button routerLink="/profile" type="button">
					Cancel
				</app-cancel-button>
			</div>
		</form>
	</card-text>
</app-notification-card>