.btn {
  font-weight: bold;
  background-color: gray;
  border-radius: 2px;
  padding: 0 16px;
  margin-top: 13px;
  margin-left: 15px;
  margin-right: 15px;
  height: 36px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
}

.btn:disabled {
  border: gray 1px solid;
}