#Antes de ejecutar, crear un archivo application.properties en el mismo directorio y llenar los campos

jdbc.url=
jdbc.username=
jdbc.password=

mail.host=smtp.gmail.com
mail.username=cybrary.notifications@gmail.com
mail.password=pvam tvsh tquh ftpi
