<mat-card matRipple class="book-card" routerLink="/book/{{book().book.id}}">
	<mat-card-header>
		@switch (book().book.salesCategory){
			@case (SalesCategory.BEST_SELLER){
				<div class="card-badge bestseller">Best Seller</div>
			}
			@case (SalesCategory.POPULAR){
				<div class="card-badge popular">Popular</div>
			}
		}

		<img mat-card-image src="assets/book-cover.jpg" alt="Book cover" class="book-image">
		<mat-card-content class="book-content">
			<h2 class="book-title">{{book().book.title}}</h2>
			<p>By {{book().writer.firstName}} {{book().writer.lastName}}</p>
			<p class="book-genre">{{book().book.genre}}</p>
			<div class="book-details">
				<span><mat-icon>star</mat-icon>{{book().book.averageRating | number: '1.1-2'}}</span>
				<span><mat-icon>face</mat-icon>+{{book().book.suggestedAge}}</span>
				<span><mat-icon>description</mat-icon>{{book().book.pageCount}}</span>
				<span><mat-icon>calendar_today</mat-icon>{{book().book.publishDate | date: 'yyyy'}}</span>
			</div>
			<p class="price">
				@if(book().deal){
					<p class="deal">
						<span class="crossed">${{book().book.price | number}}</span>
						<span class="discount"> -{{percentage() | number}}%</span>
					</p>
					<p class="deal-price">${{book().deal?.price | number}}</p>
				} @else {
					${{book().book.price | number}}
				}
			</p>
		</mat-card-content>
	</mat-card-header>
</mat-card>
