<mat-card matRipple class="book-card" routerLink="/book/{{book().id}}">
	<mat-card-header>
		<app-book-badge [category]="book().salesCategory"/>
		<img mat-card-image src="{{book().cover}}?height=250&width=200" alt="Book cover" class="book-image">
		<mat-card-content class="book-content">
			<h2 class="book-title">{{book().title}}</h2>
			<p class="writer">By {{book().writerInfo.firstName}} {{book().writerInfo.lastName}}</p>
			<p class="book-genre">{{book().genre}}</p>
			<div class="book-details">
				@if (book().averageRating! > 0){
					<span><mat-icon>star</mat-icon>{{book().averageRating | number: '1.1-2'}}</span>
				}
				<span><mat-icon>face</mat-icon>+{{book().suggestedAge}}</span>
				<span><mat-icon>description</mat-icon>{{book().pageCount}}</span>
				<span><mat-icon>calendar_today</mat-icon>{{book().publicationDate | date: 'yyyy'}}</span>
			</div>
			<p class="price">
				@if(book().dealInfo){
					<p class="deal">
						<span class="crossed">${{book().price | number}}</span>
						<span class="discount"> -{{percentage() | number}}%</span>
					</p>
					<p class="deal-price">${{book().dealInfo?.price | number}}</p>
				} @else {
					${{book().price | number}}
				}
			</p>
		</mat-card-content>
	</mat-card-header>
</mat-card>
