.book-card {
  display: flex;
  height: 250px;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
  flex-grow: 1;
  cursor: pointer;
  margin-right: 10px;
}



.book-content {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 24px;
  padding-left: 50px;
  max-height: 250px;
}


.book-image {
  max-height: 250px;
  width: 200px;
  margin-right: 20px;
  border-radius: 2px 2px 0 0;
  object-fit: scale-down;
}

.book-info {
  flex-grow: 1;
}

.book-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;

  span {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.mat-mdc-card-header {
  padding: 0;
}

.mat-card-content {
  width: 100%;
}

.price {
  color: #0288d1;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 50px;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: right;
}

.book-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  text-overflow: ellipsis;
}

.book-genre {
  margin-bottom: 5px;
}

.crossed {
  text-decoration: line-through;
  text-decoration-thickness: 3px;

}

.deal {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0;
}

.discount{
  color: red;
  margin-left: 5px;
}

.deal-price {
  margin-top: 5px;
}

