.book-card {
  display: flex;
  height: 230px;
  width: 98%;
  overflow: hidden;
  flex-grow: 1;
  cursor: pointer;
  margin: 5px;
  background-color: white;
  border-radius: 0;
}



.book-content {
  height: 230px;
  width: 100%; /* Hace que el contenido no sobrepase el ancho de la tarjeta */
  overflow: hidden; /* Evita que los elementos internos la desborden */
  text-align: center; /* Opcional: centra el texto */
  padding: 10px; /* Agrega un poco de padding */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}


.book-image {
  max-height: 230px;
  width: 30%;
  margin-right: 20px;
  border-radius: 2px 2px 0 0;
  object-fit: contain;
  text-align: start;
}

.book-info {
  flex-grow: 1;
}

.book-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;

  span {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.mat-mdc-card-header {
  padding: 0;
}

.price {
  color: #0288d1;
  font-size: 1.5rem;
  position: absolute;
  bottom: 10px;
  right: 30px;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: right;
}

.book-title {
  margin-top: 0;
  width: 100%;
  margin-bottom: 0;
  font-size: 1.8rem;
  text-align: start;
  white-space: nowrap;  /* Mantiene el texto en una sola línea */
  overflow: hidden;  /* Oculta el texto que no cabe */
  text-overflow: ellipsis;  /* Muestra "..." cuando el texto es demasiado largo */
  font-weight: 400;
  word-break: break-all;  /* Corta la palabra si es necesario */
}



.book-genre {
  margin-bottom: 5px;
  text-align: start;
}

.crossed {
  text-decoration: line-through;
  text-decoration-thickness: 3px;

}

.deal {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0;
}

.discount{
  color: red;
  margin-left: 5px;
}

.deal-price {
  margin-top: 5px;
}

.writer {
  font-size: 1rem;
  margin: 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: start;
}