.cancel-button{
  background-color: #7f7f7f !important;
  border-radius: 0;
  color: white;
}

.decline-button{
  background-color: #ed2200 !important;
  border-radius: 0;
  color: white;
}

.full-width {
  width: 100%;
}