<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<h1 mat-dialog-title>{{ 'PURCHASES.REUPLOAD.REUPLOAD' | translate }}</h1>
	<div mat-dialog-content>
		<p>{{ 'PURCHASES.REUPLOAD.INSTRUCTIONS' | translate }}</p>
		<app-file-input accept="application/pdf, image/*" formGroupName="form" [formGroup]="form">{{ 'PURCHASES.REUPLOAD.RECEIPT' | translate }}</app-file-input>
	</div>
	<div mat-dialog-actions>
		<button mat-button class="cancel-button" (click)="closeDialog()" type="button">{{ 'PURCHASES.REUPLOAD.CANCEL' | translate }}</button>
		<button mat-button class="decline-button" (click)="onSubmit()" type="submit" [disabled]="!this.form.valid">{{ 'REUPLOAD' | translate }}</button>
	</div>
</form>