<div class="container sales">
	<h1 i18n class="page-title">My Purchases</h1>
	<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()">
		<mat-grid-list cols="2" rowHeight="5:1" gutterSize="10px">
			<mat-grid-tile>
				<mat-form-field class="full-width">
					<mat-label i18n>Title</mat-label>
					<input matInput formControlName="title">
				</mat-form-field>
			</mat-grid-tile>
			<mat-grid-tile>
				<mat-form-field class="full-width">
					<mat-label i18n>Order status</mat-label>
					<mat-select (selectionChange)="onSubmit()" formControlName="status">
						@for (status of orderStatusOptions; track status.value){
							<mat-option [value]="status.value"> {{ status.label }}</mat-option>
						}
					</mat-select>
				</mat-form-field>
			</mat-grid-tile>
		</mat-grid-list>
	</form>
	@let pagination = pagination$ | async;
	@if ((orders$ | async); as orders){
		@if (orders.length === 0) {
			<div class="centerer big-font">
				<h5 i18n>No sales found</h5>
			</div>
		}
		
		@if (orders.length != 0) {
			<mat-grid-list cols="5" rowHeight="3:1" gutterSize="20px" class="table-top">
				<mat-grid-tile i18n class="table-title center-left">Cover</mat-grid-tile>
				<mat-grid-tile i18n class="table-title center-left">Book</mat-grid-tile>
				<mat-grid-tile i18n class="table-title center-left">Date</mat-grid-tile>
				<mat-grid-tile i18n class="table-title center-left">Status</mat-grid-tile>
				<mat-grid-tile i18n class="table-title center-left">Actions</mat-grid-tile>
			</mat-grid-list>
			
			
			@for (order of ((orders)! | paginate: {id: 'purchases', itemsPerPage: pageSize, currentPage: currentPage, totalItems: pagination?.pagination?.totalCount!}); track order){
				<app-purchases-order-card
					[order]="order"
				></app-purchases-order-card>
			}
			
			@if ((pagination$ | async)?.pagination?.pageCount! > 1){
				<app-paginator id="purchases" (pageChange)="onPageChange($event)"/>
			}
		}
	}
</div>

