<mat-card class="review-card">
	<mat-card-header>
		<div class="reviewer-info" routerLink="/profile/{{review().reviewerInfo?.id}}">
			<img mat-card-image [src]="review().reviewerInfo?.profilePicture" alt="Profile picture" class="reviewer-image">
			<p class="reviewer-name">{{review().reviewerInfo?.firstName}} {{review().reviewerInfo?.lastName}}</p>
		</div>
		<mat-card-content class="review-content">
			<div class="review-info">
				<div class="star-rating">
					<app-star-rating [rating]="review().rating || 0"/>
				</div>
				<div class="review-date">
					{{review().date | date: 'short'}}
				</div>
			</div>
			<p>{{review().review}}</p>
		</mat-card-content>
	</mat-card-header>
</mat-card>